<h2>Карточка</h2>
  <%= simple_form_for (@cardcheck), url: cards_cardcheck_path, :method => :post do |f| %>
    <h5>Текст</h5>
    <%= @card.translated_text%>
    <h5>Переведенный текст</h5>
    <div class= "form_group">
      <%= f.text_field :translated_text%>
    </div>
    <div class= "form_group">
      <%= f.button :submit, 'Проверить', class: 'btn btn-primary' %>
      <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary'%>
    </div>
<%end%>