<form id="myForm">
  <h2><%=t('forms.card')%></h2>
  <%= image_tag @card.image.url(:small), class:'image-index' if @card.image? %>
  <h5><%=t('forms.text')%></h5>
  <%= @card.translated_text%>
  <h5><%=t('forms.translatedtext')%></h5>
  <input id="time" type="hidden" value="">
  <input id="id" type="hidden" value="<%= @card.id%>">
  <input id="check_text" type="text" size="20" value="<%=@card.original_text%>"> <br/>
  <input type="submit" value="Отправить">
</form>





