<% @card.each do |card|%>
  <h3> <span class="select"><h3><%=t('forms.text')%></h3> <%= card.original_text%></span></h3>
  <h2> <span class="select"><h3><%=t('forms.translatedtext')%></h3> <%=card.translated_text%></span></h2>
  <h2> <span class="select"><h3><%=t('forms.reviewdate')%></h3> <%=card.review_date.strftime(("%d/%m/%Y"))%></span></h2>
  <%= link_to t('forms.destroycard'),card_path(card), method: :delete, data:{confirm:'Вы уверены?'}%>
  <%= link_to t('forms.editcard'),edit_card_path(card)%>
  <br>
  -------------------------------------------------------------------------------
<%end%>