<h2>Редактирование карточки</h2>
<%= simple_form_for (@card) do |f| %>
  <h5>Текст</h5>
  <div class= "form_group">
    <%= f.text_field :original_text  %>
  </div>
  <h5>Переведенный текст</h5>
  <div class= "form_group">
    <%= f.text_field :translated_text%>
  </div>
  <h5>Сменить колоду:</h5>
  <div class= "form_group">
    <%= f.collection_select(:deck_id, current_user.decks, :id, :name) %>
  </div>
  <h5>Картинка</h5>
  <div class= "form_group">
    <%= f.file_field :image %>
    <h6>Удалить картинку?</h6>
    <%= f.check_box :remove_image %>
  </div>
  <%= hidden_field_tag :format, params[:format]%>
  <div class= "form_group">
    <%= f.button :submit, 'Сохранить', class: 'btn btn-primary' %>
    <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary'%>
  </div>
<%end%>