<h2>Создание карточки</h2>
<%= simple_form_for (@card) do |f| %>
  <h5>Текст</h5>
  <div class= "form_group">
    <%= f.text_field :original_text  %>
  </div>
  <h5>Переведенный текст</h5>
  <div class= "form_group">
    <%= f.text_field :translated_text%>
  </div>
  <h5>Добавить в существующую колоду:</h5>
  <div class= "form_group">
    <%= collection_select(@deck, :deck, current_user.decks, :id, :name) %>
  </div>
  <h5>Картинка</h5>
  <div class= "form_group">
    <%= f.file_field :image %>
    <h6>Ссылка на картинку:</h6>
    <%= f.text_field :remote_image_url %>
  </div>
  <div class= "form_group">
    <%= f.button :submit, 'Сохранить', class: 'btn btn-primary' %>
    <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary'%>
  </div>
<%end%>