<h1>Карточка</h1>
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">Текст</th>
      <th scope="col">Переведенный текст</th>
      <th scope="col">Дата перепросмотра</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%=@card.original_text%></td>
      <td><%=@card.translated_text%></td>
      <td><%=@card.review_date.strftime(("%d/%m/%Y"))%></td>
      <%= image_tag @card.image.url(:small), class:'image-index' if @card.image? %>
    </tr>
    </tbody>
  </table>
  <%= link_to 'Удалить карточку',card_path(@card.deck_id), method: :delete, class: 'btn btn-primary' %>
  <%= link_to 'Редактировать',edit_card_path(@card.deck_id), class: 'btn btn-primary'%>
  <br>
  <br>
