<h1>Мои колоды</h1>

<%= link_to 'Создать колоду',new_deck_path, class: 'btn btn-primary' %>
<br>
<br>

<% @deck.each do |deck|%>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to deck.name, cards_path(deck) %>
      <% if current_user.actual_deck == deck.id %>
        <span class="badge badge-pill badge-success">Текущая</span>
      <%else%>
        <span class="badge badge-inverse"><%= link_to 'Сделать текущей',decks_actualdeck_path(deck)%></span>
      <%end%>
      <span class="badge badge-default"><%=deck.cards.count%></span>
    </li>
  </ul>
  <%= link_to 'Удалить колоду',deck_path(deck), method: :delete, class: 'btn btn-primary', data:{confirm:'Вы уверены? Все ваши карточки будут уничтожены.'}%>
  <%= link_to 'Редактировать колоду',edit_deck_path(deck), class: 'btn btn-primary'%>
  <br><br>
<%end%>
